include CHANGELOG.md
include MIGRATION_*.md
include CONTRIBUTING.md
include CONTRIBUTING.zhTW.md
include README.zhTW.md

prune tests
prune notebooks
prune docs
prune assets
prune scripts
prune temp
prune build
prune dist
global-exclude *.pyc
global-exclude __pycache__
